In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/slurm-log.csv")

In [4]:
df["partition"].unique()

array(['normal', 'test', 'gaia', 'xeon-p8', 'db'], dtype=object)

In [14]:
df.iloc[65665]

id_job                                                   31993221736273
id_array_job                                             16618712154521
id_array_task                                                4294967294
id_user                                                  76175544093974
kill_requid                                              61026541062099
nodes_alloc                                                           5
nodelist              ['r4229531-n851693', 'r1457839-n851693', 'r627...
cpus_req                                                             75
derived_ec                                                            0
exit_code                                                             0
gres_used                                                           NaN
array_max_tasks                                                       0
array_task_pending                                                    0
constraints                                                     xeon-g6
flags                                                                 4
mem_req                                             9223372036854784308
partition                                                        normal
priority                                                          10252
state                                                                 3
timelimit                                                    4294967295
time_submit                                                  1614187881
time_eligible                                                1614187881
time_start                                                   1614187891
time_end                                                     1614191736
time_suspended                                                        0
track_steps                                                           0
tres_alloc                                       1=75,2=637500,4=5,5=75
tres_req                                         1=75,2=637500,4=1,5=75
job_type                                                          OTHER
Name: 65665, dtype: object

In [16]:
df["cpus_req"].describe()

count    395914.000000
mean          9.233937
std          63.951753
min           1.000000
25%           1.000000
50%           4.000000
75%           8.000000
max        8480.000000
Name: cpus_req, dtype: float64

In [17]:
labelled = pd.read_csv("./data/labelled_jobids.csv")

In [18]:
ml_jobs = df[df['id_job'].isin(labelled['id_job'])]

In [21]:
ml_jobs

,id_job,id_array_job,id_array_task,id_user,kill_requid,nodes_alloc,nodelist,cpus_req,derived_ec,exit_code,...,timelimit,time_submit,time_eligible,time_start,time_end,time_suspended,track_steps,tres_alloc,tres_req,job_type
187791,8835225905106,16618712154521,4294967294,5042570016904,61026541062099,1,['r5715171-n139058'],40,0,0,...,4294967295,1620059896,1620059896,1620067807,1620074019,0,0,"1=40,2=340000,4=1,5=40,1002=2","1=40,2=340000,4=1,5=40,1002=2",OTHER
187795,34616588030023,16618712154521,4294967294,5042570016904,61026541062099,1,['r5573787-n911952'],40,0,0,...,4294967295,1620060306,1620060306,1620060316,1620066973,0,0,"1=40,2=340000,4=1,5=40,1002=2","1=40,2=340000,4=1,5=40,1002=2",OTHER
188324,35241407908821,16618712154521,4294967294,5042570016904,61026541062099,2,"['r6760045-n830961', 'r3041626-n386398']",80,0,0,...,525600,1620074512,1620074512,1620100700,1620104837,0,0,"1=80,2=680000,4=2,5=80,1002=4","1=80,2=680000,4=2,5=80,1002=4",OTHER
188325,89347374934753,16618712154521,4294967294,5042570016904,61026541062099,1,['r5573787-n911952'],40,0,0,...,4294967295,1620074660,1620074660,1620074661,1620090541,0,0,"1=40,2=340000,4=1,5=40,1002=2","1=40,2=340000,4=1,5=40,1002=2",OTHER
188326,38572114883328,16618712154521,4294967294,5042570016904,61026541062099,1,['r5573787-n911952'],20,0,0,...,4294967295,1620074670,1620074670,1620090541,1620120993,0,0,"1=20,2=170000,4=1,5=20,1002=1","1=20,2=170000,4=1,5=20,1002=1",OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391625,60281059510701,16618712154521,4294967294,5042570016904,61026541062099,1,['r8062914-n139058'],40,0,0,...,4294967295,1632968463,1632968463,1633004044,1633084829,0,0,"1=40,2=340000,4=1,5=40,1002=2","1=40,2=340000,4=1,5=40,1002=2",OTHER
391626,66048555673701,16618712154521,4294967294,5042570016904,61026541062099,1,['r3879907-n208530'],40,0,0,...,4294967295,1632968463,1632968463,1633004034,1633081302,0,0,"1=40,2=340000,4=1,5=40,1002=2","1=40,2=340000,4=1,5=40,1002=2",OTHER
394068,89760947853207,16618712154521,4294967294,28063009141185,61026541062099,8,"['r6760045-n685852', 'r9102715-n830961', 'r918...",320,58880,0,...,525600,1633019237,1633019237,1633019265,1633024097,0,0,"1=320,2=2720000,4=8,5=320,1002=16","1=320,2=2720000,4=8,5=320,1002=16",OTHER
394074,79031822153895,16618712154521,4294967294,28063009141185,61026541062099,8,"['r6760045-n685852', 'r9102715-n830961', 'r918...",320,58880,0,...,525600,1633019768,1633024097,1633024100,1633029025,0,0,"1=320,2=2720000,4=8,5=320,1002=16","1=320,2=2720000,4=8,5=320,1002=16",OTHER
394077,52106808440658,16618712154521,4294967294,28063009141185,61026541062099,8,"['r6760045-n685852', 'r9102715-n830961', 'r918...",320,58880,0,...,525600,1633019826,1633029027,1633029049,1633035662,0,0,"1=320,2=2720000,4=8,5=320,1002=16","1=320,2=2720000,4=8,5=320,1002=16",OTHER